<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <!-- URL for Test Application -->
    <add key="Url" value="http://emblim.co" />
    <!--SignIn Page Objects-->
    <add key="SignInUserNameObject" value="//*[@id='logInFormDisplayName']" />
    <add key="SigninPasswordObject" value="password" />
    <!-- Community Page Objects-->
    <add key="Cname" value="//input[@id='communityName']" />
    <add key="CommunityNameObject" value="//input[@id='communityName']" />
    <add key="CommunityLogo" value="logofile" />
    <add key="selectGameObject" value="//select[@name='gameSkill']" />
    <add key="SelectAgeObject" value="//select[@name='agesRestriction']" />
    <add key="SelectLanguageObject" value="//select[@name='language']" />
    <add key="CommunityIntroductionObject" value="introduction" />
    <add key="FavGameObject" value="//input[@placeholder='Select your games']" />
    <add key="TagObject" value="//input[@placeholder='Select your tags']" />
    <add key="CreateCommunitySubmissionObject" value="//button[@ng-click='vm.createCommunity()']" />
    <add key="searchField" value="//*[@id='searchBox']" />
    <add key="createcommunityLink" value="//a[@data-balloon='Create a community']" />
    <add key="EnterName" value="//div[4]/header/div/div[3]/ul/li[1]/a" />
    </appSettings>
  
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider --><unitTestProvider name="SpecRun" /><plugins>
      <add name="SpecRun" />
    </plugins></specFlow></configuration>